* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100vh;
  background-image: url("../images/memphis-colorful.png");
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.title {
  
  height: 50px;
  text-align: center;
  
}

.title h1 {
  
  font-size: 48px;
  font-weight: bold;
  color: #4aaaa5;
  
}

/* Instruction */
.instruction-container {
  
  margin-top: 30px;
  text-align: center;
  background-color: orange;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  

}

.rng-counter-score {
  text-align: center;
}

.random-number {
  
  margin-top: 10px;
  
}

.rng {
  font-size: 32px;
  font-weight: bold;
  color: red;
  padding: 10px;
  background-color: bisque;
  width: 50%;
  margin: 0 auto;
}

.counters {
  
  margin-top: 10px;
  background-color: aquamarine;
  height: 150px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.score-container {

  margin-top: 10px;
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}

.total-score {
  font-size: 32px;
  color: green;
}


button {
 width: 160px;
 height: 160px;
 margin: 10px;
 padding: 0;
 
 
}

.crystal-img {
 
  width: 150px;
  height: 150px;
  margin-right: 20px;
  display: inline-block;
  


}

.crystal-img img {
  width: 150px;
  height: 150px;
  
}

.crystals {

  width: 50%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;

  
  
}

